@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700')
*
  margin 0
  padding 0
  box-sizing border-box

body
  margin 0
  padding 0
  height 100%
  font-family 'Source Code Pro', monospace
  background #ededed
  box-sizing border-box

.wrapper
  margin 0
  padding 0
  min-height 100%
  box-sizing border-box

.header
  margin 0
  padding 0
  background url('../images/header.png')
  background-position center
  box-sizing border-box

  .page-title
    font-weight 200
    font-size 80px
    text-align center
    padding 100px
    color #fff

.nav
  background #000
  text-align center
  box-sizing border-box

  li
    display inline-block

  a
    display inline-block
    padding 20px
    color #fff
    text-decoration none

    &:hover
      background-color #3AB795
      text-decoration underline

.main-content
  margin 50px auto
  max-width 600px
  padding-bottom:50px
  box-sizing border-box

  p
    line-height 1.6
    margin-bottom 1.7em

.footer
  margin 50px auto
  max-width 100%
  height 50px
  border-top 1px solid #444
  padding 20px 0
  background #ffab62
  box-sizing border-box

  p
    color #444
    font-size 12px
    text-align center