extend default

block content
	p. 
		I am a freelance developer by day and a violin enthusiast by night. I am lucky to have been born in a time of computers because I dont know what I would have done if I was born 50 years earlier.