extend default

block content
	p.
		This is a new website I have created using node js and express. I have tried to used jade and stylus for html
		templating and css generation. There is not much content that I can write beyond this.. blah blah blah..

	p.
		This is another paragraph that I have tried to create.