extend default

block content


	iframe(align=center, width='560', height='315', src='//www.youtube.com/embed/2LJyoToZJRg', frameborder='2')
	p.
		This is me playing uyire song with interlude
	hr

	iframe(align=center, width='560', height='315', src='//www.youtube.com/embed/EOojP0sQDZ0', frameborder='2')
	p.
		Dharmavathi ragam and ottagathai kattiko
	hr

	iframe(align=center, width='560', height='315', src='https://www.youtube.com/embed/5-pQpfYF6TY', frameborder='2')
	p.
		Dharmavathi ragam and ottagathai kattiko
	hr